.dropdown {text-align:center;}
.button, .dropdown-menu {margin:10px auto}
.dropdown-menu {width:200px; left:50%; margin-left:-100px;}

body{ background-image: url(https://i.pinimg.com/originals/da/dc/e9/dadce90550cfc17a01708d58db98a970.gif)

}

.character{}